html {
    position: relative;
    min-height: 100%;
    background-color: black;
    //background-image: url(../images/fondo_web.jpg);
    background-size: cover;
    background-position: center center;
  }
  
  body {
    padding-top: 40px;
    margin-bottom: 40px;
    background-color: transparent;
  }
    
  .countdown-container {
    font-size: 3rem;
    color: #000000;
    text-align: center;

    .concept {
      font-size: 28px;
      text-align: center;
    }
  }
  
  
  .fblanco {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 2rem;
    position: relative;
  }

  .fblancolateral {
    background-color: #009ddd;
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
  }
  
  .fnaranja {
    background-color: #f9b233;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;

    .horariosText {
      font-size: 1.3rem;
      color: #fff;
    }
  }
  
  .fverde {
    background-color: #9ebe43;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
  }

  .fverdelateral {
    background-color: #9ebe43;
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
  }
  
  .frojo {
    background-color: #d12d26;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
  }
  
  .fazul {
    background-color: #009ddd;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
  }

  .frojoSuperior {
    background-color: #d12d26;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
  }
  
  .fazulSuperior {
    background-color: #009ddd;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
  }

  .fnegro {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
  }
  
  .fmarron {
    background-color: #bd9c69;
    width: 100%;
    height: 100%;
    padding: 2rem;
    position: relative;

    .direccion {
      font-size: 3rem;
      text-transform: lowercase;
    }
  }

  .fazulDia {
    background-color: #009ddd;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
    color: #fff;
    font-size: 2rem;
  }

  .fverdeDia {
    background-color: #9ebe43;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
    color: #fff;
    font-size: 2rem;
  }

  .frojoDia {
    background-color: #d12d26;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
    color: #fff;
    font-size: 2rem;
  }

  .fdescarga {
    background-color: #f9b233;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;

    a.precios {
      text-decoration: none;
      color: #000;
      font-size: 3rem;

      &:hover {
        font-weight: bold;
        color: #fff;
      }
    }
  }

  .textoIzquierda {
    display: block;
    position: absolute;
    font-size: 4rem;
    top: 31%;
    transform: rotate(270deg);
    transform-origin: 21px 16px;
    line-height: 1;
  
  }

  .textoGrand {
    font-size: 5rem;
    line-height: 1;
    color: #000;
  }

  a.textoDerecha {
    display: block;
    position: absolute;
    font-size: 4rem;
    bottom: -30px;
    transform: rotate(270deg);
    transform-origin: 8px 2px;
    text-decoration: none;
    color: #000000;
    line-height: 1;
  }

  #divExposicion,
  #divLogo,
  #divGo,
  #divHello,
  #divFecha,
  #divMasInfo,
  #divInstagram,
  #countdown1,
  #capaLogos,
  #divDiaUno,
  #divDiaDos,
  #divDiaTres,
  #divDescarga {
    display: none;
  }

  @media (max-width: 992px) {
    .textoIzquierda {
      display: block;
      position: initial;
      font-size: 2rem;
      transform: none;
      line-height: 1;
    }
  
    a.textoDerecha {
      display: block;
      position: initial;
      font-size: 2rem;
      transform: none;
      line-height: 1;
    }

    .textoGrand {
      font-size: 3rem;
      line-height: 1;
      color: #000;
    }

    .fverdelateral {
      padding: 2rem 1rem;
    }

    .fblancolateral {
      padding: 2rem 1rem;
    }

    .countdown-container {
      .concept {
        font-size: 20px;
        text-align: center;
      }
    }
    .frojoSuperior {
      padding: 0;
    }
    
    .fazulSuperior {
      padding: 0;
    }

    .fmarron {
      .direccion {
        font-size: 1.6rem;
      }
    }
  }